@page
@model CustomerSite.Pages.IndexModel
@{
    
    @* <div>@Model.a</div> *@
    <div class="homepage-carousel">
        <div class="homepage-bg-carousel"></div>
    </div>
    <div style="text-align: center; margin: 50px 0" class="best-product">
        <h3 style="margin-bottom: 50px">SẢN PHẨM BÁN CHẠY</h3>
        <div class="carousel-row row">
            @foreach (var i in Model.productList)
            {
                <div class="col-2">
                    <div class="best-product-detail">
                        <div class="best-product-img">
                            <img src= "@i.ImagePath" alt="">
                        </div>
                        <div class="name">@i.Name</div>
                        <hr style ="color: red; width: 20%; margin: 0 auto">
                        <div style="margin: 10px 0;" class="price signature-color">@i.Price</div>
                    </div>
                </div>
            }
        </div>
    </div>
}

<style>
    .homepage-bg-carousel {
        background: url(http://theme.hstatic.net/200000399631/1000761068/14/slideshow_1.jpg?v=302);
        height: 650px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .best-product-detail {
        border: 1px solid silver;
        cursor: pointer;
    }
    .best-product-img img {
        width: 100%;
    }
    .carousel-row {
        padding: 0 20px;
    }
    @* .price::before {
        content: "";
        width: 10px;
        height: 50px;
        color: red
    } *@
    .name  {
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 10px;
    }
    .price {
        font-size: 14px;
        font-weight: 500;
    }
    .best-product-detail:hover {
        border-color: #f57f48;
        box-shadow: 0 10px 10px 0 silver;
    }

    .best-product-detail:hover hr{
        width: 40%;
        color: green;
    }

</style>

