@page
@model CustomerSite.Pages.LoginModel
@{
    <div class="row">
        <div class="login-bg col-6">
            <div class="login-title">
                Đăng nhập
            </div>
        </div>
        <div class="login-form col-6">
            <form method="post" asp-page="Login" class="row g-3">
                <div>
                    <label for="username" class="visually-hidden">Username</label>
                    <input name="username" type="text"  class="form-control-plaintext" id="username" placeholder="Username">
                </div>
                <div>
                    <label for="password" class="visually-hidden">Password</label>
                    <input name="password" type="password"  class="form-control-plaintext" id="password" placeholder="Password">
                </div>
                <div>
                    <button type="submit" class="btn mb-3">Đăng nhập</button>
                </div>
            </form>
        </div>
    </div>
}

<style>
    .login-bg {
        background-color: #f57f48;
        height: 600px; 
        position: relative;
    }
    .login-title {
        color: white;
        font-size: 60px;
        position: absolute;
        right: 50%;
        top: 50%;
        transform: translate(50%, -50%);
    }
    .login-form .row {
        width: 70%;
        margin: 0 auto;
    }
    .login-form button {
        background-color: #f57f48;
        color: white;
        padding: 15px 40px;
    }

    .login-form button:hover {
        background-color: #f57f48;
        color: white;
    }

    .login-form .form-control-plaintext {
        padding: 15px;
        background-color: #f8f8f8;
    }

</style>

<script>
    @* import axios from 'axios' *@
    @* const login = () => {
        let loginRequest = {
            username: document.getElementById("username").value,
            password: document.getElementById("password").value
        }
        axios.post("https://localhost:7010/api/auth/login", loginRequest)
        .then(res => {
            new bootstrap.Toast(document.getElementById('loginSuccessToast')).show()
            console.log(res.data)
        }).catch(err => {
            new bootstrap.Toast(document.getElementById('loginErrorToast')).show()
            console.log(err)
        })
        return false
    } *@
</script>
